.classimg{
    height: 18rem
}

.classcard{
    height: auto;
}

.classprofile{
    height: 2rem;
    
}

.centerlogin{
    margin-top: 50rem;
}

small{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
