.classimg{
    height: 18rem
}

.classcard{
    height: auto;
}

.classprofile{
    height: 2rem;
    
}

.pageContentWrapper{
    margin-bottom:100px;/* Height of footer*/
} 
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
    background:#ccc;
}